* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f7fa;
    padding: 20px;
}

.sidebar {
    background: #1e2939;
    width: 370px;
    background: #1e2939;
    padding-top: 40px;
    padding-bottom: 40px;
}

.my-photo {
    width: 370px;
}

.wrapper {
    background-color: #fff;
}

/*
.sb-contacts-container {
        padding-left: 40px;
    padding-top: 20px;
    box-sizing: border-box;
}
.sb-Tech-container {
    padding-left: 40px;
    padding-top: 20px;
    box-sizing: border-box;
    margin-top: 40px;
}
.sb-soft-container {
    padding-left: 40px;
    padding-top: 20px;
    box-sizing: border-box;
    margin-top: 40px;
}

/*.sb-tech-title {
    font-size: 25px;
    font-style: normal;
    color: red;
}

.sb-main-conteine {
    display: flex;
    flex-direction: column;
}

.sb-main-conteine h3 {
    font-size: 25px;
    /*font-style: normal;
    color: #ffffff;
}*/